dist
node_modules
coverage
generated
certs
.env
jwt_rsa_key.pem
jwt_rsa_public.pem
.idea
idp.crt
idp.key
sp_metadata.xml
temp
yarn-error.log
# eslint section
!.eslintrc.js
.eslintcache
# docker section
docker-compose.override.yml
