dist
node_modules
coverage
generated
certs
.env
jwt_rsa_key.pem
jwt_rsa_public.pem
.idea
idp.crt
idp.key
sp_metadata.xml
temp
yarn-error.log
# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
e2e/.yarn/*
!e2e/.yarn/patches
!e2e/.yarn/plugins
!e2e/.yarn/releases
!e2e/.yarn/sdks
!e2e/.yarn/versions
# eslint section
!.eslintrc.js
.eslintcache
# docker section
docker-compose.override.yml
